.container {
    width: 450px;
    background: #EFEFF4;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 10px;
}
.iconBox {
    display: flex;
    align-items: center;
    gap: 20px;
}
.iconBox i:nth-child(1) {
    font-size: 50px;
    color: #2563EB;
}
.iconBox i:nth-child(2) {
    font-size: 30px;
    color: #E2E2E5;
}